# Your Vonage API key
API_KEY=''
# Your Vonage API secret
API_SECRET=''
# Your Vonage number
VONAGE_NUMBER=''
# Your Vonage Application ID
APP_ID=''
# Path to your Vonage Application private key
PRIVATE_KEY='private.key'