{{> utils/header }}

<h1 class="text-2xl mb-4">Voice</h1>

<p class="text-blue-500 text-xl font-medium">{{voiceStatus}}</p>
<p class="text-blue-700 mt-1">{{voiceData}}</p>

{{> _voice/talk }}
{{> _voice/interactive}}

{{> utils/footer }}