<div class="text-left border border-gray-200 py-4 px-4 rounded-md bg-gray-50 mt-8">
  <h2 class="text-xl mb-4 font-bold">Call &amp; interact with your Application</h2>
  <p>Call <span class="text-xl font-bold">{{ vonageNumber }}</span> and you will greated by a message and couple of options to select from.</p>
</div>