<nav class="flex justify-between space-x-reverse py-1 border-b border-gray-200 mb-6 text-gray-500 ">
  <a href="/" class="pr-3 py-2 rounded-md text-sm font-medium">Verify</a>
  <a href="/messages" class="px-3 py-2 rounded-md text-sm font-medium">Messages</a>
  <a href="/whatsapp" class="px-3 py-2 rounded-md text-sm font-medium">Whatsapp</a>
  <a href="/voice" class="pl-3 py-2 rounded-md text-sm font-medium">Voice</a>
  <a href="/meetings" class="pl-3 py-2 rounded-md text-sm font-medium">Meetings</a>
</nav>